.footer {
background-color: #e4dcc9;
color: #110F0F;
padding: 2rem 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.footer p {
    color:#110F0F;
    font-size: 0.875rem;
    font-family: "Crimson Pro", serif;
    margin-top: 2.2rem;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a{
    color:#110F0F;
    text-decoration: none;
    margin-right: 1rem;
    font-family: "Crimson Pro", serif;
}

.footer-links a:hover {
    color: #2b1f04;
    text-decoration: underline;
}
